.icon-card{
    width: 100%;
    max-height: 200px;
    /* border: 1px solid white; */
    background: #1918189c !important;
    transition: .5s ease-in-out;
}
.icon-card:hover{
    transform: scale(1.05);
}
.icon-container{
    width: 100%;
    max-height: 200px;
}

.icon-card img{
    width: 100%;
    height: 100%;
}
.experience .col-lg-3{
    width: 27% !important;
}
.html-card{
    box-shadow: 0 4px 6px -1px #f97316,0 2px 4px -2px #f97319;
}
.css-card{
    box-shadow: 0 4px 6px -1px #1081eb,0 2px 4px -2px #0e73d1;
}
.js-card{
    box-shadow: 0 4px 6px -1px #dec50b,0 2px 4px -2px #cab409;
}
.react-card{
    box-shadow: 0 4px 6px -1px #0b8fc7,0 2px 4px -2px #0875a3;
}
.github-card{
    box-shadow: 0 4px 6px -1px #cccece,0 2px 4px -2px #afb2b2;
}
