.hero-h-100{
    min-height: 100vh;
}
.bg-dark-b-gradient{
    background:linear-gradient(to bottom ,#000 341px,#1f2937 );
}

.btn-gradient{
    background: linear-gradient(to left,#3b82f6,#06b6d4);
}
.img-box {
    width: 280px;
    height: 58vh;
    background: linear-gradient(to left,#3b82f6,#06b6d4);
    border-radius: 28px;
    box-shadow: 11px 11px 23px -13px #06b6d4;
}
.btn-gradient>.hero-arrow{
    transform: translate(0px, 0px) rotate(0deg);
    transition: 0.5s ease-in-out;
}
.btn-gradient:hover>.hero-arrow{
    transform: translate(2px, 2px) rotate(90deg);
}
@media screen and(max-width:575px) {
    .fs-4rem{
        font-size: 3rem !important;
    }
}