@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
p{
    font-family: 'Ysabeau SC', sans-serif;
}
.portfolio .card-title{
    font-family: 'DM Sans', sans-serif;
}
.portfolio .card{
    box-shadow: 5px 5px 15px #000, -5px -5px 15px #000 ;
}
.portfolio .card .img-container{
    height: 240px;
    overflow: hidden;
    position: relative;
    transition: 4s ease-in-out;
}
.portfolio .card  .img{
    height: 100%;
    width: 100%;
    background: url('../../public/images/three.png');
    background-position: top;
    background-size: cover;
    transition: 2s ease-in-out;
}
.portfolio .card  .img:hover{
    background-position: bottom;
}

.portfolio .card .btn-black {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    padding: 14px 25px;
    line-height: 21px;
    margin-right: 1rem;
    border-radius: 6px;
    background:linear-gradient(to bottom ,#000 341px,#1f2937 );
    box-shadow: 5px 5px 15px #000, -5px -5px 15px #1f2937 ;
    transition: all 0.6s ease-in-out;
}
.portfolio .card .btn-black:hover{
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    color: #000;
    transition: all 0.6s ease-in-out;
    transform: translateY(-5px);
}
.portfolio .card:nth-child(1)  .img{
    background-image: url('../../public/images/one.png');
}
.portfolio .card:nth-child(2)  .img{
    background-image: url('../../public/images/two.png');
}
.portfolio .card:nth-child(3)  .img{
    background-image: url('../../public/images/three.png');
}
.portfolio .card:nth-child(4)  .img{
    background-image: url('../../public/images/four.png');
}
.portfolio .card:nth-child(5)  .img{
    background-image: url('../../public/images/five.png');
}
.portfolio .card:nth-child(6)  .img{
    background-image: url('../../public/images/six.png');
}
.portfolio .card:nth-child(7)  .img{
    background-image: url('../../public/images/7.png');
}
@media screen and (min-width:992px ) {
    
    .portfolio .col-lg-4{
        width: 32.5% !important;
    }
}