.bg-dark{
    background-color: black !important;
}
.h-100vh{
    height: 100vh;
}
.fs-4rem{
    font-size: 4.5rem;
}
.left-75px {
    position: relative;
    left: -75px;
    transition: 0.5s ease-in-out;
}
.left-75px:hover {
    position: relative;
    left: 0px;
}
.bg-gray{
    background-color: rgb(93, 94, 95);
}
.text-gary{
    color: rgb(107 114 128);
}
.w-73px{
    width: 73px;
}
.border-top{
    border-top-right-radius: 6px;
}
.border-bottom{
    border-bottom-right-radius: 6px;
}
.text-justify{
    text-align: justify;
}